﻿@using Microsoft.AspNetCore.Http
@using System.Security.Claims
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--fluid-->
    <!--width=device-width change the view to the size of the screen phone or more-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - Jewelry_Store_e.a</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .w3-sidebar a {
            font-family: "Roboto", sans-serif
        }

        body, h1, h2, h3, h4, h5, h6, .w3-wide {
            font-family: "Montserrat", sans-serif;
        }
    </style>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="w3-content" style="max-width:1200px">
    <!-- Top header -->
    <header class="w3-container-fluid w3-xlarge">
        <form asp-controller="Products" asp-action="Home">
            <p class="w3-right">
                <small>Name:<input type="text" name="searchString" /></small>
                <small>
                    Title:<select name="searchcolor">
                        <option value=""></option>
                        <option value="Gold">Gold</option>
                        <option value="Silver">Silver</option>
                    </select>
                </small>
                <small>Price<input type="text" name="searchprice" /></small>
                <input type="submit" value="Search" />
                <a asp-area="" asp-controller="Products" asp-action="Home" class="fa fa-search"></a>
                <a asp-area="" asp-controller="Orders" asp-action="Cart" class="fa fa-shopping-cart w3-margin-right"></a>
            </p>
                </form>
    </header>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.IsAuthenticated)
                {
                    if (User.HasClaim(ClaimTypes.Role, "Admin"))
                    {
                        <li><a href="/login/details">Welcome,Admin </a></li>
                        <li class="logout">@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                    else
                    {
                        <li><a href="/login/details">Welcome, @User.Identity.Name </a></li>
                        <li class="logout">@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                }
                else
                {
                    <li><a>Welcome, Guest </a></li>
                    <li>@Html.ActionLink("Login", "Index", "Login")</li>
                    <li>@Html.ActionLink("Register", "Register", "Login")</li>
                }
        </ul>
    </div>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:240px" id="mySidebar">
        <div class="w3-container-fluid w3-display-container-fluid w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
            <h3 class="w3-wide"><b>LOGO</b></h3>
        </div>
        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button">Home</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Products" asp-action="Home" class="w3-bar-item w3-button">Recommandation</a>
                if (User.HasClaim(ClaimTypes.Role, "Admin"))
                {
                    <a asp-area="" asp-controller="APIViews" asp-action="GrafDates" class="w3-bar-item w3-button">Graf dates</a>
                    <a asp-area="" asp-controller="APIViews" asp-action="GrafInventory" class="w3-bar-item w3-button">Graf Inventory</a>
                }
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Products" asp-action="Home" class="w3-bar-item w3-button">Catalog</a>
            }
            <a asp-area="" asp-controller="Products" asp-action="Rings" class="w3-bar-item w3-button">Rings</a>
            <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                Bracelet <i class="fa fa-caret-down"></i>
            </a>
            <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                <a asp-area="" asp-controller="Products" asp-action="Women_Bracelet" class="w3-bar-item w3-button">Women's bracelet</a>
                <a asp-area="" asp-controller="Products" asp-action="Men_Bracelet" class="w3-bar-item w3-button">Men's bracelet</a>
            </div>
            <a asp-area="" asp-controller="Products" asp-action="Necklace" class="w3-bar-item w3-button">Necklace</a>
            <a asp-area="" asp-controller="Products" asp-action="Necklace" class="w3-bar-item w3-button">Earrings</a>
            <a asp-area="" asp-controller="Products" asp-action="Sale" class="w3-bar-item w3-button">Sale</a>
            <a asp-area="" asp-controller="Shipments" asp-action="AjaxAsync" class="w3-bar-item w3-button">Shipments Address</a>
        </div>
        <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
        <a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
        <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </header>
    <!--check where the login !!! and move to there-->
    <div class="w3-main" style="margin-left:240px">
        <partial name="_CookieConsentPartial" />

        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">

                <div class="w3-row-padding">
                    <div class="w3-col s4">
                        <h4>Contact</h4>
                        <p>Questions? Go ahead.</p>
                        <form action="/action_page.php" target="_blank">
                            <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
                            <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
                            <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
                            <p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
                            <button type="submit" class="w3-button w3-block w3-black">Send</button>
                        </form>
                    </div>

                    <div class="w3-col s4">
                        <h4>About</h4>
                        <p><a href="#">About us</a></p>
                        <p><a href="#">We're hiring</a></p>
                        <p><a href="#">Support</a></p>
                        <p><a href="#">Find store</a></p>
                        <p><a href="#">Shipment</a></p>
                        <p><a href="#">Payment</a></p>
                        <p><a href="#">Gift card</a></p>
                        <p><a href="#">Return</a></p>
                        <p><a href="#">Help</a></p>
                    </div>

                    <div class="w3-col s4 w3-justify">
                        <h4>Store</h4>
                        <p><i class="fa fa-fw fa-map-marker"></i> Company Name</p>
                        <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
                        <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
                        <h4>We accept</h4>
                        <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
                        <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
                        <br>
                        <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
                        <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
                        <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
                        <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
                        <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
                        <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
                    </div>
                </div>

                <p>&copy; 2019 - Jewelry_Store_e.a</p>
            </footer>
        </div>
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <!--what does appand vertion mean?? add here the layout javascript-->
            <script src="~/js/LayoutJavaScript.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        </div>
    
        @RenderSection("Scripts", required: false)
</body>
</html>